@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: "Verdana", "Geneva", sans-serif;
    --light-text: rgb(0, 0, 0);
    --light-bg: rgb(216, 216, 216);
    --dark-text: rgb(243, 243, 243);
    --dark-bg: rgb(27, 27, 27);
}
/*
Light-dark info: https://css-tricks.com/come-to-the-light-dark-side/
Colors tested at https://webaim.org/resources/linkcontrastchecker/?fcolor=000000&bcolor=D8D8D8&lcolor=2D36FC 
and
https://webaim.org/resources/linkcontrastchecker/?fcolor=F3F3F3&bcolor=1B1B1B&lcolor=0090EA
*/
body {
    color: light-dark(var(--light-text), var(--dark-text));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    margin: 0px;
}
main {
    margin-top: 7rem;
}
.centered {
    margin-inline: auto;
    text-align: center;
}
.strong {
    font-weight: bold;
}
select {
    font-size: 1rem;
    padding: 0.25rem;
}
a {
    text-underline-offset: 0.3em;
    &:link {
        color: light-dark(rgb(45, 54, 252), rgb(0, 144, 234));
    }
    &:visited {
        color: light-dark(rgb(162, 0, 162), rgb(243, 0, 243));
    }
    &:hover {
        color: light-dark(rgb(144, 72, 0), rgb(189, 126, 0));
    }
    &:active {
        color: light-dark(rgb(0, 108, 54), rgb(0, 153, 0));
    }
}
/* Header styles */
#main-header {
    color: #ffffff;
    background-color: #0000ff;
    padding: 0.5rem 1.5rem;
    width: 100%;
    position: fixed;
    top: 0px;
}
#main-header-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Table styles */
table {
    border-collapse: collapse;
    border: none;
    margin: 2.5rem auto;
}
tr {
    @media screen and (max-width: 550px) {
        border: 1px solid light-dark(var(--light-text), var(--dark-text));
    }
}
th, td {
    padding: 0.5rem 0.5rem;
    border-top: 1px solid light-dark(var(--light-text), var(--dark-text));
    border-bottom: 1px solid light-dark(var(--light-text), var(--dark-text));
    border-left: none;
    border-right: none;
    @media screen and (max-width: 550px) {
        display: block;
        border: none;
    }
}
th {
    font-style: italic;
    letter-spacing: 0.15rem;
    text-align: left;
    text-transform: uppercase;
}
td, footer p {
    line-height: 2em;
}