@charset "UTF-8";

/* Dark mode styles */

.darkmode {
    color: #FFFFFF;
    background-color: #000000;
}

.darklink {
    color: #00FFFF;
}

.darklink:visited {
    color: #FF00FF;
}

#modeSwitch {
    border: none;
    border-radius: 5px;
    padding: 0.4em;
}

/* Table styles */

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.3em 1em;
}