@charset "UTF-8";

* {
    font-size: 1.5rem;
}

body {
    background-color: #CCCCCC;
}

#MainContainer {
    margin: 10vmin;
}

.LabelCol, .InputCol {
    width: 50%;
}

td {
    padding: 0.25rem;
}

input {
    float: left;
    width: 5rem;
}

button {
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    color: #FFFFFF;
    background-color: #00CC00;
}

.Result {
    margin: 0.5rem;
}