/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Comment Form Style Sheet
   Author: Steven Schifter
   Date:   6/22/2023

   Filename:         comments.css
   Supporting Files: go.png, stop.png

*/

