/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Comment Form Style Sheet
   Author: Steven Schifter
   Date:   6/22/2023

   Filename:         comments.css
   Supporting Files: go.png, stop.png

*/

fieldset {
    background-color: rgb(245, 245, 255);
    margin: 15px auto;
    padding: 5px;
    width: 90%;
}

label {
    display: block;
    float: left;
    clear: left;
    font-size: 0.9em;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input, textarea {
    display: block;
    float: right;
    font-size: 0.9em;
    width: 55%;
    margin-left: 10px;
    margin-right: 10px;
    &:focus {
        background-color: rgb(225, 225, 240);
    }
}

textarea {
    height: 150px;
}

#username:focus:valid,
#email:focus:valid,
#password:focus:valid {
   background: url(go.png)
               bottom right
               no-repeat;
   background-size: 15px 15px;
   background-color: rgb(225, 240, 225);
}

#username:focus:invalid,
#email:focus:invalid,
#password:focus:invalid {
   background: url(stop.png)
               bottom right
               no-repeat;
   background-size: 15px 15px;
   background-color: rgb(240, 225, 225);
}

#submitButton {
    display: block;
    float: none;
    clear: both;
    width: 200px;
    height: 30px;
    margin: 5px auto;
}