/*
   New Perspectives on HTML and CSS
   Tutorial 9
   Case Problem 1

   Kelsey's Diner Style Sheet

   Author: Steven Schifter
   Date:   7/11/2023

   Filename:         kdstyles.css
   Supporting Files: 

*/

body {
    background: url("tan.jpg");
}

img {
   border-width: 0px;
}

h1 {
    color: green;
    text-align: center;
}

h5 {
    text-align: center;
}

dt {
    color: green;
    font-family: sans-serif;
    font-weight: bold;
}