/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Steven Schifter
   Date:   6/1/2023

   Filename:         c_styles.css
   Supporting Files: none

*/

/* Styling for page body background and text */
body {
    background-color: black;
    color: white; /* default text color */
    font-family: Century Gothic, sans-serif;
}

/* Styling for main heading */
header h1 {
    color: yellow;
    font-family: Courier New, Courier, monospace;
    font-size: 28px;
    letter-spacing: 20px; /* kerning */
    text-align: center;
}

/* Styling for article headings */
article h2 {
    font-size: 24px;
    font-weight: normal; /* overrides default boldface style */
    letter-spacing: 5px; /* kerning */
}

/* Styling for article paragraphs */
article p {
    text-align: justify; /* full justification */
}

/* Styling for strongly emphasized text in the keyword class */
strong.keyword {
    color: yellow;
    font-weight: normal; /* overrides default boldface style */
}

/* Styling for footer paragraphs */
footer p {
    text-align: center;
}

/* Styling for image maps */
img[usemap] {
    border-width: 0px; /* removes border from image maps */
}