/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Steven Schifter
   Date:   6/11/2023

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

/* Collapse the borders of the puzzle table and its sub-tables */
.spuzzle, .subTable {
    border-collapse: collapse;
}

/* Style for puzzle table data cell border */
.spuzzle td {
    border: 5px outset gray;
}

/* Styles for puzzle table header cell font */
.spuzzle th {
    font-size: 8px;
    color: gray;
}

/* Styles for puzzle table header cells (within table body row group) */
.spuzzle tbody th {
    height: 40px;
}

/* Styles for puzzle sub-table data cells */
.subTable td {
    font-size: 20px;
    color: blue;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.goldBox .subTable td {
    background: url(gold.jpg)
                50% 50%
                no-repeat;
}

.greenBox .subTable td {
    background: url(green.jpg)
                50% 50%
                no-repeat;
}