/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Steven Schifter
   Date:   6/11/2023

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

