/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1
   Special Effects style sheet
   Author: Steven Schifter
   Date:   7/6/2023

   Filename:         dweffects.css
   Supporting Files: 

*/


